/* rem and em don not depend on html font size in media queries, Instead 1rem = 1em = 16px
rem: root font size
em:current font size
*/

/* *************only screen******* */

/* **************************** */
/* Below 1344px (Smaller Desktops) */
/* **************************** */
@media print {
  .tg tr:nth-of-type(10n) {
    page-break-after: always;
  }
  .sidebar {
    display: none;
  }
  .practice {
    margin-bottom: 6.5rem; /* Adjust this value as needed */
  }
}
@media (min-width: 1200px) {
  body {
    max-width: 120rem;
    margin: 0 auto;
  }
  .title-div h1 {
    font-size: 2.1rem;
  }
  .model {
    margin: 26px;
  }
  /* .div1 {
    transform: scale(0.8);
  } */

  #instructions {
    padding: 49px;
    position: relative;
    top: -11px;
    line-height: 36px;
  }

  #input1 {
    position: absolute;
    top: -1%;
    left: 7%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  #input2 {
    position: absolute;
    top: 14%;
    left: 7%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  #input3 {
    position: absolute;
    top: 32%;
    left: 7%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  #input4 {
    position: absolute;
    top: 86%;
    left: 7%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  #button1 {
    position: absolute;
    top: -2%;
    left: 17%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  #button2 {
    position: absolute;
    top: 19%;
    left: 14%;
  }
  #button3 {
    position: absolute;
    top: 36%;
    left: 14%;
  }
  #button4 {
    position: absolute;
    top: 89%;
    left: 12%;
  }
  #button5 {
    position: absolute;
    top: 14%;
    left: 91%;
  }
  #button6 {
    position: absolute;
    top: 59%;
    left: 90%;
  }
  #button7 {
    position: absolute;
    top: 85%;
    left: 91%;
  }
  #button8 {
    position: absolute;
    top: 22%;
    left: 49%;
  }
  #button9 {
    position: absolute;
    top: 27%;
    left: 66%;
  }
  #button10 {
    position: absolute;
    top: 60%;
    left: 48%;
  }
  #mytable th,
  #mytable td {
    font-size: 16px;
    word-wrap: break-word; /* Allow long text to break into the next line */
    white-space: normal; /* Ensure wrapping for both th and td */
    /* background: #0bbeb4; */
  }
  #bulb1 {
    position: absolute;
    top: -44px;
    left: -25%;
    width: 67px;
  }
  #bulb2 {
    position: absolute;
    top: 108px;
    left: -27%;
    width: 67px;
  }
  #bulb3 {
    position: absolute;
    top: 196px;
    left: -25%;
    width: 67px;
  }
}

/* **************************** */
/* Below 1200px (Lanscape Tablets) */
/* **************************** */

@media (max-width: 75em) {
  .title-div h1 {
    font-size: 2.5rem;
  }
  .task-title {
    font-size: 2rem;
  }
  .tool-menu {
    font-size: 2rem;
    gap: 2rem;
  }
  .icons {
    width: 3rem;
    height: 3rem;
  }
  .ctrl-icons {
    width: 3rem;
    height: 3rem;
  }

  .tool-list span {
    font-size: 1.2rem;
  }
  .canvas {
    display: block;
  }
  .div__control img {
    width: 3rem;
    height: 2.8rem;
  }
  .div1 {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center;
    position: relative;
    transform: scale(0.8);
  }
  #instructions {
    padding: 49px;
    position: relative;
    top: -11px;
  }
  #input1 {
    position: absolute;
    top: 0%;
    left: 7%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  #input2 {
    position: absolute;
    top: 19%;
    left: 5%;
  }
  #input3 {
    position: absolute;
    top: 36%;
    left: 5%;
  }
  #input4 {
    position: absolute;
    top: 89%;
    left: 5%;
  }

  #button1 {
    position: absolute;
    top: 0%;
    left: 14%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  #button2 {
    position: absolute;
    top: 19%;
    left: 12%;
  }
  #button3 {
    position: absolute;
    top: 36%;
    left: 14%;
  }
  #button4 {
    position: absolute;
    top: 89%;
    left: 12%;
  }
  #button5 {
    position: absolute;
    top: 14%;
    left: 91%;
  }
  #button6 {
    position: absolute;
    top: 59%;
    left: 90%;
  }
  #button7 {
    position: absolute;
    top: 85%;
    left: 91%;
  }
  #button8 {
    position: absolute;
    top: 22%;
    left: 49%;
  }
  #button9 {
    position: absolute;
    top: 27%;
    left: 66%;
  }
  #button10 {
    position: absolute;
    top: 60%;
    left: 48%;
  }
  #mytable th,
  #mytable td {
    font-size: 16px;
    word-wrap: break-word; /* Allow long text to break into the next line */
    white-space: normal; /* Ensure wrapping for both th and td */
    /* background: #0bbeb4; */
  }
  #bulb1 {
    position: absolute;
    top: -44px;
    left: -25%;
    width: 67px;
  }
  #bulb2 {
    position: absolute;
    top: 106px;
    left: -27%;
    width: 67px;
  }
  #bulb3 {
    position: absolute;
    top: 189px;
    left: -27%;
    width: 67px;
  }
}

/* **************************** */
/* Below 944px ( Tablets) */
/* **************************** */

@media (max-width: 59em) {
  body {
    width: 100%;
    margin: 0;
  }
  .tool-link:link,
  .tool-link:visited {
    gap: 0.5rem;
    font-size: 1.4rem;
    flex-direction: column;
  }

  .title-div h1 {
    font-size: 2rem;
  }
  .sidebar {
    position: fixed;
    padding: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    width: 100%;
    backdrop-filter: blur(10rem);
    z-index: 101;
    justify-content: space-evenly;
    border-radius: 0;
    scroll-behavior: auto;
    margin: 0;
  }
  .main {
    grid-column: 1/-1;
  }
  .tool-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
    font-size: 2.4rem;
    justify-content: space-evenly;
    padding: 1rem;
  }

  .canvas {
    display: block;
    /* width: 100%;
    height: 100%; */
    /* background-color: red; */
  }
  .main-section {
    grid-template-columns: 1fr;
  }

  .canvas {
    display: block;
    /* width: 100%;
    height: 100%; */
    border: none;
  }
  .footer {
    margin-bottom: 78px;
  }

  .div1 {
    transform: scale(0.8);
  }
  #instructions {
    padding: 49px;
    position: relative;
    top: -11px;
  }
  #mytable th,
  #mytable td {
    font-size: 14px;
    word-wrap: break-word; /* Allow long text to break into the next line */
    white-space: normal; /* Ensure wrapping for both th and td */
    /* background: #0bbeb4; */
  }
  #bulb1 {
    position: absolute;
    top: -44px;
    left: -19%;
    width: 67px;
  }
  #bulb2 {
    position: absolute;
    top: 106px;
    left: -27%;
    width: 67px;
  }
  #bulb3 {
    position: absolute;
    top: 189px;
    left: -27%;
    width: 67px;
  }
}

/* **************************** */
/* Below 820px (Smaller Tablets) */
/* **************************** */
@media (max-width: 48em) {
  .main-section {
    grid-template-columns: 1fr;
  }
  .canvas {
    display: block;
    border: none;
  }
  .tool-list span {
    font-size: 1.6rem;
  }

  .footer {
    margin-bottom: 78px;
  }
  .div1 {
    transform: scale(0.8);
    /* margin-left: -11rem; */
  }
  #instructions {
    padding: 36px;
    position: relative;
    top: -11px;
  }
  #bulb1 {
    position: absolute;
    top: -44px;
    left: -19%;
    width: 67px;
  }
  #bulb2 {
    position: absolute;
    top: 93px;
    left: -27%;
    width: 67px;
  }
  #bulb3 {
    position: absolute;
    top: 169px;
    left: -27%;
    width: 67px;
  }
}

/* **************************** */
/* Below 704px (Smaller Tablets) */
/* **************************** */
@media (max-width: 44em) {
  .img-div {
    flex-direction: column;
  }
  .title-div {
    gap: 0rem;
    text-align: center;
  }
  .round {
    width: 0.6rem;
    height: 0.6rem;
  }
  .logo-div {
    width: 6.5rem;
  }
  .main__task-div:nth-child(4) {
    margin-bottom: 6rem;
  }

  .cross-img {
    width: 60%;
  }
  .canvas {
    display: block;
    /* width: 100%;
    height: 100%; */
    border: none;
  }
  .footer {
    margin-bottom: 78px;
  }

  .div1 {
    transform: scale(0.8);
    /* margin-left: -11rem; */
  }

  .image-container {
    position: relative;
    display: inline-block; /* Ensure it wraps the image and its content */
  }
  /* .output {
    transform: scale(0.9);
    margin-top: -48px;
  } */
  #instructions {
    padding: 30px;
    position: relative;
    top: -11px;
  }
  .title-div h1 {
    font-size: 1.6rem;
    /* text-align: center; */
  }

  #input1 {
    position: absolute;
    top: -3.5%;
    left: -3%;
  }

  #input2 {
    position: absolute;
    top: 18%;
    left: -5%;
  }
  #input3 {
    position: absolute;
    top: 36%;
    left: -5%;
  }
  #input4 {
    position: absolute;
    top: 87%;
    left: -5%;
  }

  #button1 {
    position: absolute;
    top: -4%;
    left: 11%;
  }
  #button2 {
    position: absolute;
    top: 19%;
    left: 7%;
  }
  #button3 {
    position: absolute;
    top: 37%;
    left: 7%;
  }
  #button4 {
    position: absolute;
    top: 87%;
    left: 7%;
  }
  #button5 {
    position: absolute;
    top: 15%;
    left: 100%;
  }
  #button6 {
    position: absolute;
    top: 59%;
    left: 100%;
  }
  #button7 {
    position: absolute;
    top: 85%;
    left: 101%;
  }
  #button8 {
    position: absolute;
    top: 22%;
    left: 49%;
  }
  #button9 {
    position: absolute;
    top: 27%;
    left: 70%;
  }
  #button10 {
    position: absolute;
    top: 60%;
    left: 47%;
  }

  .grid-container img {
    max-width: 120% !important;
    height: auto; /* Maintain aspect ratio */
    margin: auto; /* Centering fallback for block-level elements */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center;
    margin-left: -35px;
  }
  #bulb1 {
    position: absolute;
    top: -52px;
    left: 65%;
    width: 67px;
  }
  #bulb2 {
    position: absolute;
    top: 81px;
    left: 65%;
    width: 67px;
  }
  #bulb3 {
    position: absolute;
    top: 154px;
    left: 65%;
    width: 67px;
  }
}

/* **************************** */
/* Below 540px (Smaller Tablets) */
/* **************************** */
@media (max-width: 34em) {
  .title-div h1 {
    font-size: 1.4rem;
    /* text-align: center; */
  }

  .logo-div {
    width: 4.5rem;
  }
  .div__control {
    gap: 2rem;
    /* top: 1.8rem;
    right: 1.5rem; */
  }
  .ctrl-icons {
    width: 2.5rem;
    height: 2.5rem;
  }
  .tool-menu {
    gap: 1.5rem;
  }
  .tool-list span {
    font-size: 1.2rem;
  }
  .task-title {
    font-size: 1.7rem;
  }
  canvas {
    width: 100%;
  }
  label,
  select,
  input,
  p {
    display: inline-block;
    font-size: 1.5rem;
  }
  .main {
    gap: 0.5rem;
  }
  .main-section {
    gap: 0.5rem;
  }
  .sidebar {
    border-radius: 0;
  }
  .canvas {
    display: block;
    /* width: 100%;
    height: 100%; */
    border: none;
  }
  .div__control img {
    width: 2.7rem;
    height: 2.5rem;
  }
  .tooltip {
    font-size: 1rem;
  }
  .footer {
    margin-bottom: 78px;
  }

  .practice {
    /* display: flex; */
    /* flex-direction: column; */
    gap: 0rem;
    padding: 2rem;
  }
  .model {
    margin: 60px;
  }

  .div1 {
    transform: scale(0.75);
    /* margin-left: -11rem; */
  }

  .grid-container img {
    max-width: 120% !important;
    height: auto; /* Maintain aspect ratio */
    margin: auto; /* Centering fallback for block-level elements */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center;
    margin-left: -35px;
  }
  #input1 {
    position: absolute;
    top: -3.5%;
    left: -3%;
  }

  #input2 {
    position: absolute;
    top: 18%;
    left: -5%;
  }
  #input3 {
    position: absolute;
    top: 36%;
    left: -5%;
  }
  #input4 {
    position: absolute;
    top: 87%;
    left: -5%;
  }

  #button1 {
    position: absolute;
    top: -4%;
    left: 11%;
  }
  #button2 {
    position: absolute;
    top: 19%;
    left: 7%;
  }
  #button3 {
    position: absolute;
    top: 37%;
    left: 7%;
  }
  #button4 {
    position: absolute;
    top: 87%;
    left: 7%;
  }
  #button5 {
    position: absolute;
    top: 15%;
    left: 100%;
  }
  #button6 {
    position: absolute;
    top: 59%;
    left: 100%;
  }
  #button7 {
    position: absolute;
    top: 85%;
    left: 101%;
  }
  #button8 {
    position: absolute;
    top: 22%;
    left: 49%;
  }
  #button9 {
    position: absolute;
    top: 27%;
    left: 70%;
  }
  #button10 {
    position: absolute;
    top: 60%;
    left: 47%;
  }
  #mytable th,
  #mytable td {
    font-size: 10px;
    word-wrap: break-word; /* Allow long text to break into the next line */
    white-space: normal; /* Ensure wrapping for both th and td */
  }
  #bulb1 {
    position: absolute;
    top: -40px;
    left: 65%;
    width: 67px;
  }
  #bulb2 {
    position: absolute;
    top: 61px;
    left: 65%;
    width: 67px;
  }
  #bulb3 {
    position: absolute;
    top: 139px;
    left: 65%;
    width: 67px;
  }
}

@media (max-width: 30em) {
  .div1 {
    transform: scale(0.7);
    /* margin-left: -13rem; */
  }
  .title-div h1 {
    font-size: 1.1rem;
    /* text-align: center; */
  }

  #mytable th,
  #mytable td {
    font-size: 9px;
    word-wrap: break-word; /* Allow long text to break into the next line */
    white-space: normal; /* Ensure wrapping for both th and td */
    /* background: #0bbeb4; */
  }
}

@media (max-width: 27em) {
  .sidebar {
    position: fixed;
    padding: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    width: 100%;
    backdrop-filter: blur(10rem);
    z-index: 101;
    justify-content: space-evenly;
    border-radius: 0;
    scroll-behavior: auto;
  }
  .tool-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
    font-size: 2.4rem;
    justify-content: space-evenly;
    padding: 1rem;
  }

  .practice {
    margin: 0;
    padding: 0;
  }

  .practice-step-no {
    width: 3rem;
    height: 3rem;
  }

  .footer {
    margin-bottom: 78px;
  }
  .grid-container img {
    max-width: 150% !important;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -64px;
  }
  .div1 {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    position: relative;
    transform: scale(0.5);
    margin-left: -4rem !important;
  }

  /* .output {
    transform: scale(0.55);
    margin-top: -115px;
  } */
  .title-div h1 {
    font-size: 1rem;
    /* text-align: center; */
  }
  #input1 {
    position: absolute;
    top: -2.5%;
    left: -12%;
  }
  #input2 {
    position: absolute;
    top: 18%;
    left: -15%;
  }
  #input3 {
    position: absolute;
    top: 36%;
    left: -15%;
  }
  #input4 {
    position: absolute;
    top: 87%;
    left: -14%;
  }
  #button1 {
    position: absolute;
    top: -3%;
    left: 2%;
  }
  #button2 {
    position: absolute;
    top: 19%;
    left: -1%;
  }
  #button3 {
    position: absolute;
    top: 37%;
    left: -1%;
  }
  #button4 {
    position: absolute;
    top: 88%;
    left: -1%;
  }
  #button5 {
    position: absolute;
    top: 14%;
    left: 114%;
  }
  #button6 {
    position: absolute;
    top: 59%;
    left: 113%;
  }
  #button7 {
    position: absolute;
    top: 85%;
    left: 113%;
  }
  #button8 {
    position: absolute;
    top: 22%;
    left: 55%;
  }
  #button9 {
    position: absolute;
    top: 27%;
    left: 82%;
  }
  #button10 {
    position: absolute;
    top: 60%;
    left: 51%;
  }
  #bulb1 {
    position: absolute;
    top: -52px;
    left: 167%;
    width: 67px;
  }
  #bulb2 {
    position: absolute;
    top: 61px;
    left: 167%;
    width: 67px;
  }
  #bulb3 {
    position: absolute;
    top: 139px;
    left: 167%;
    width: 67px;
  }

  #mytable th,
  #mytable td {
    font-size: 7px;
    word-wrap: break-word; /* Allow long text to break into the next line */
    white-space: normal; /* Ensure wrapping for both th and td */
    /* background: #0bbeb4; */
  }
}
/* 

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

 */
