.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container #input1 {
    position: absolute;
    top: 3.5%;
    left: 5%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .container #input2 {
    position: absolute;
    top: 20%;
    left: 5%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container #input3 {
    position: absolute;
    top: 36%;
    left: 5%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container #input4 {
    position: absolute;
    top: 89.5%;
    left: 5%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .container #button1 {
    position: absolute;
    top: 3.5%;
    left: 10%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container #button2 {
    position: absolute;
    top: 19.5%;
    left: 10%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container #button3 {
    position: absolute;
    top: 36.5%;
    left: 10%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container #button4 {
    position: absolute;
    top: 89.5%;
    left: 10%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container #button8 {
    position: absolute;
    top: 22.5%;
    left: 50%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container #button10 {
    position: absolute;
    top: 60%;
    left: 50%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container #button9 {
    position: absolute;
    top: 28%;
    left: 70%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container #button5 {
    position: absolute;
    top: 15.5%;
    left: 89%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container #button6 {
    position: absolute;
    top: 60%;
    left: 89%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container #button7 {
    position: absolute;
    top: 85%;
    left: 89%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .container #bulb1 {
    position: absolute;
    top: 15%;
    left: 92%;
    color: white;
    width: 100px;
    height: 50px;
  }

  .container #bulb2 {
    position: absolute;
    top: 60%;
    left: 92%;
    color: white;
    width: 100px;
    height: 50px;
  }

  .container #bulb3 {
    position: absolute;
    top: 85%;
    left: 92%;
    color: white;
    width: 100px;
    height: 50px;
  }
  